[submodule "firmware/Embedded-Sharepoint"]
	path = firmware/Embedded-Sharepoint
	url = https://github.com/lhr-solar/Embedded-Sharepoint.git
[submodule "hardware/lib/KiCAD-Sharepoint"]
	path = hardware/KiCAD-Sharepoint
	url = https://github.com/lhr-solar/KiCAD-Sharepoint.git
