# -----------------------------------------------------------------------------
# HARDWARE (KICAD)
# -----------------------------------------------------------------------------
# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Whitelist production files directory
!**/jlcpcb/production_files/
!**/jlcpcb/production_files/**

# Archived Backups (KiCad 6.0)
**/*-backups/*.zip

# Local project settings
*.kicad_prl

# -----------------------------------------------------------------------------
# FIRMWARE
# -----------------------------------------------------------------------------

# VS Code
.vscode/
compile_commands.json

# Build files
build
.dockerfile.hash
.cache
/can/CANMetaData.*
Madefile

# Python
*venv
__pycache__/
.env

# Nix
flake.lock

# Documentation toolset
docs/doxygen/
site/*
!site/empty.a
Zone.Identifier

# Mac specific files
.DS_Store
